/c51/test
/c51/test_uvproj.bak
/c51/test.hex
/c51/test.lnp
/c51/STARTUP.LST
/c51/test.LST
/c51/test.M51
/c51/STARTUP.OBJ
/c51/test.OBJ
/c51/test.uvopt
/proteus1/Last Loaded c51_mini.pdsbak
/test/test.exe
/test/test.pdb
/proteus1/*.workspace
/proteus1/*.pdsbak
/c51/*.hex
/c51/*
/c51/*.jiang

/stm32GPIO/DebugConfig
/stm32GPIO/protues/*.pdsbak
/stm32GPIO/Objects/*.crf
/stm32GPIO/Objects/*.htm
/stm32GPIO/Objects/*.hex
/stm32GPIO/Objects/1.*
/stm32GPIO/Objects/*.d
/stm32GPIO/Objects/*.o
/stm32GPIO/Objects/*.dep

/stm32GPIO/Listings
/stm32GPIO/1.uvguix.Administrator
/stm32GPIO/proteus/*.pdsbak
/stm32GPIO/proteus/*.workspace
/stm32GPIO/.vscode/settings.json
